/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('../src/assets/background2.jpg') no-repeat center center;
  background-size: cover;
}

/* Add any global styles or shared component styles here */

/* If you have styles for Navbar, Footer, or other components, include them below */
